h3 {
    font-size: 24px;
    font-weight: 300;
}

.btn-primary {
    background-color: #3db76f;
    color: #FFF;
    border: none;
    padding: 3%;
    border-radius: .25rem
}

.btn-primary:hover {
    opacity: 0.5;
}
